* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.imgbox2 {
    width: auto;
    /* height: 200px; */
    display: flex;
    flex-wrap: wrap;
    gap: 20px 30px;

}

.databox-image {
    width: 300px;
    height: 350px;
    background-color: #fff;
    box-shadow: 0 0 7px 2px rgb(77, 202, 58);
    margin: 10px 25px;
}

.databox-image img {
    width: 300px;
    height: 280px;
    margin: 3px, 5px;
    box-shadow: 0 0 7px 0px rgb(42, 232, 13);
}

.databox-image p {
    margin: 20px 50px;
}
