* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.imgbox {
    width: 100%;
    height: 550px;
    display: flex;
    overflow: auto;
    justify-content: flex-start;
    margin: 0;
    border: #07d277 5px;
}

.imgbox2 {
    width: auto;
    /* height: 200px; */
    display: flex;
    flex-wrap: wrap;
    /* gap: 20px 50px; */

}

.databox-image {
    width: 140px;
    height: 180px;
    background-color: #fff;
    box-shadow: 0 0 7px 2px gold;
    margin: 10px 25px;
}

.databox-image img {
    width: 140px;
    height: 120px;
    margin: 3px, 5px;
}

.databox-image p {
    margin: 20px 50px;
}

